@charset "ISO-8859-1";

h1 {
	margin-top: 30px;
	font-family: sans-serif;
	text-align: center;
	align-items: center;
}

a {
	font-size: 25px;
	text-decoration: none;
	color: green;
	border: 2px solid;
	margin-left: 500px;
	font-family : sans-serif;
	padding: 5px;
	font-family: sans-serif;
}

#but {
	margin-top: 30px;
	align-items: center;
}